.venv/
.pytest_cache/
__pycache__/
*.py[cod]
dist/
*.egg-info/
fixtures/c_dynamic/fixture
fixtures/c_dynamic/fixture-late
fixtures/c_embedded/fixture-sqlite-embedded
fixtures/c_embedded/fixture-sqlite-embedded-stripped
fixtures/node_binding/node_modules/
core
